# NAMESPACE for the R package 'missForest'
# Created 2012-02-20 by D. Stekhoven
# Updated last 2022-04-14

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  randomForest,
  foreach,
  itertools,
  stats
)

importFrom(iterators,idiv)
importFrom(doRNG,"%dorng%")
importFrom("stats", "predict", "var")