# NAMESPACE for the R package 'missForest'
# Updated 2025-10-13 for v1.6

# ---- Exports ----
export(missForest)
export(mixError)
export(nrmse)
export(prodNA)
export(varClass)

# ---- Imports ----
import(ranger)
import(randomForest)

importFrom(foreach, foreach, getDoParWorkers)
importFrom(iterators, idiv, isplitVector)
importFrom(doRNG, "%dorng%")
importFrom(stats, predict, var)
